.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    /*custom*/
}

.spinner-wrapper {
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*progress bar animation*/

.inner-bar {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.animate-progress .loader1 {
    animation-name: loader1;
}

.animate-progress .loader2 {
    animation-name: loader2;
}

.animate-progress .loader3 {
    animation-name: loader3;
}

.animate-progress .loader4 {
    animation-name: loader4;
}

.animate-progress .loader5 {
    animation-name: loader5;
}

@keyframes loader1 {
    to {
        width: 73%;
    }
}

@keyframes loader2 {
    to {
        width: 85%;
    }
}

@keyframes loader3 {
    to {
        width: 90%;
    }
}

@keyframes loader4 {
    to {
        width: 60%;
    }
}

@keyframes loader5 {
    to {
        width: 55%;
    }
}
